{% extends 'YDCoreBundle:Core:layout.html.twig' %}

{% block title %}{{ work.title }}{% endblock %}

{% block body %}
  <h2>{{ work.title }}</h2>
  <div class="row">
    <div class="col-md-4 work-img" style="overflow: hidden;">
      <a href="{{ work.link }}">
        <img
          alt="{{ work.image.alt }}"
          src="{{ asset((work.image.webPath) | imagine_filter('work_view')) }}"
        >
      </a>
    </div>

    <div class="col-md-8">
      {% autoescape  %}
        {{ work.content|raw }}
      {% endautoescape %}
    </div>
  </div>
{% endblock %}
